@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
}

a {
    color: white;
}

p {
    margin: 0;
}

section{
    padding: 60px 0;
}

 header {
    width: 100%;
    height: 100vh;
    background-color: rgba(16,29,44,.95);
    background-size: cover;
    position: relative;  
 }

 head > .container {
    position: relative;
    height: 100%;
    padding: 0;
 }

 nav{
    background-color: black;
    padding: 10px 36% 10px 0px;
    width: 100%;
    font-family: "Courier New";
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
 }

 .navbar-brand {
    position: absolute;
    width: 100%;
    max-width: 100px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 650ms;
 }

 .navbar-brand:hover{
    opacity: .8;
 }

 .nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
    background-color: #101d2c;
    z-index: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 650ms;
 }

 .nav-list .open{
     opacity: 1;
     transform: scale(1);
 }

 .hero-text{
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -45%);
     text-align: center;
 }

 .hero-text h1{
     font-family: "teko";
     color: #d85600;
 }

 .btn{
     width: 100px;
     padding: 5px 0!important;
     border: 1px solid #c69963;
     position: relative;
     overflow: hidden;
 }

 .btn:hover{
    color: white !important;
    background-color: #c6996c;
 }

 /* About */

 .section-heading h4{
     text-transform: uppercase;
     color: #101D2C;
     line-height: 0;
     font-family: 'Teko', sans-serif;
     font-weight: 300;
     letter-spacing: 1px;
 }

 .section-heading h1{
     font-family: 'teko';
     color: #d85600;
 }

 .about{
     background-color: white;
     color: black;
     margin-bottom: 200px;
     font-family: sans-serif;
 }

 .about .btn{
     width: 150px;
     color: #c69963 !important;
     transition: background-color 650ms;
 }

 .about .btn:hover{
     color: white !important;
     background-color: #c69963;
 }

 @media(min-width: 576px){
     .navbar-brand{
         max-width: 150px;
     }

     .hamburger-menu{
         top: 35px;
         right: 25px;
     }
 }

 @media(min-width: 768px){
    .btn{
        widows: 150px;
    }
}

@media(min-width: 992px){
    header > .container{
        padding: 0 15px;
    }

    .hamburger-menu{
        display: none;
    }

    .navbar-brand{
        position: initial;
        transform: initial;
    }

    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: initial;
        flex-direction: row;
        opacity: initial;
        transform: initial;
        transition: initial;
        margin: 0;
        padding: 0;
    }

    .nav-item{
        margin: 0 30px;
    }

    .nav-item:last-child{
        margin-right: 0;
    }

    .nav-link{
        position: relative;
        padding: 0;
    }

    .nav-link::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        background-color: #c69963;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 650ms;
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }
}

.achievements {
    border-radius: 55px;
    width: 90%;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(10, 10, 71);
}

.projects{
    border-radius: 55px;
    width: 50%;
    margin-top: -50px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: gray;
}

#main-txt{
    font-size: 40px;
    color: #c69963;
}

#desc{
    font-size: 15px;
    color: white;
    padding-bottom: 5px;
}

#lst1{
    font-size: 20px;
    columns: white;
}

#lst2{
    font-size: 15px;
    color: rgb(207, 207, 207);
}

.lst-section{
    border-radius: 55px;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    text-align: left;
    background-color: rgb(59, 59, 59);
}

#teams-text{
    font-size: 25px;
    color: white;
    transition: color 1s;
}

#teams-text a:hover{
    color: rgb(207, 1, 1);
}

.fab, .far{
    font-size: 35px;
    transition: color 1s;
}

.fab:hover, .far:hover {
    color: turquoise;
}

i{
    padding-left: 5px;
    padding-right: 5px;
}

#about-txt{
    font-size: 20px;
    font-family: "Niccone";
    color: black;
}

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear; 
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
  }

  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }

  .projects-text{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: white !important;
    transition: color 1s;
  }

  .return-btn{
    color: black; 
    margin-left: 49%; 
    margin-top: 20%; 
    font-size: 50px;
  }

  .return-btn:hover{
    color: #007bff;;
  }
